
<!DOCTYPE html>
<html>
<head>
<style>

h1 {
background-color: black;
color: white;
font-size: 60px;
}

h2{
  color:black;
  font-style: oblque;
  font-size;30px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

</style>
</head>
<body>

</body>
</html>






